{% extends '::layout.html.twig' %}

{% block title %}
  {{ parent() }} - Nouvel utilisateur
{% endblock %}

{% block stylesheets %}
  {{ parent() }}

  <link href="{{ asset('css/forms.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('js/forms.js') }}" type="text/javascript" />
{% endblock %}

{% block content %}

<div class="content">
  <form action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }}>
      {{ form_widget(form) }}<br/>
      <p class="float-left">
          <button type="submit">Create</button>
      </p>
  </form>

  <a class="ui-button float-right" href="{{ path('user') }}">
      Back to the list
  </a>
  {{ utils.clearer() }}
</div>
  
{% endblock %}