<form action="{{ path('search_results') }}" method="get" {{ form_enctype(form) }}>
      {{ form_errors(form) }}

      <div>
          {{ form_errors(form.pattern) }}
          {{ form_widget(form.pattern) }}
      </div>

      {{ form_rest(form) }}
      <p>
          <button type="submit">Rechercher</button>
      </p>
  </form>