{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/flashes.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/blocks_infos.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
    
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-1.6.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/flashes.js') }}"></script>
{% endblock %}

{% block body %}
  {% block header %}
  <div id="header">
    <div id="header_content">
      <h1 id="logo">
        <img src="{{ asset('images/logo_epiquote.png') }}" alt="epiquote" />
      </h1>
      
      
      {% block header_menu %}
      <div id="header_menu">
        <ul>
          <li><a href="{{ path('quote_list', { 'ordering': 'lastest' }) }}">lastest</a></li>
          <li><a href="{{ path('quote_list', { 'ordering': 'top' }) }}">top</a></li>
          <li><a href="{{ path('quote_list', { 'ordering': 'random' }) }}">random</a></li>
          <li><a href="{{ path('quote_search') }}">search</a></li>
          <li><a href="{{ path('quote_new') }}">add</a></li>
        </ul>
      </div>
      {% endblock %}
    </div>
  </div>
  {% endblock %}
  
  {% block sheet %}
  <div id="sheet">
    {% block flash %}
      {% if app.session.hasFlash('success') %}
        <div class="flash-message flash-success">
          {{ app.session.flash('success') }}
        </div>
      {% endif %}

      {% if app.session.hasFlash('notice') %}
        <div class="flash-message flash-notice">
          {{ app.session.flash('notice') }}
        </div>
      {% endif %}

      {% if app.session.hasFlash('error') %}
        <div class="flash-message flash-error">
          {{ app.session.flash('error') }}
        </div>
      {% endif %}
    {% endblock %}
    
    <div id="wide_content">      
      
      {% block wide_content %}
        <div id="content">
          {% block content %}
            {% block news %}

            {% endblock %}
          {% endblock %}
        </div>
      {% endblock %}
    </div>
  </div>
  {% endblock %}

{% endblock %}