{% extends '::base.html.twig' %}

{% import '::utils.html.twig' as utils %}
{% import '::ui.html.twig' as ui %}

{% block stylesheets %}
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css' />
  <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
  <link href="{{ asset('css/ui.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
    
{% block javascripts %}
  <script type="text/javascript" src="{{ asset('js/jquery-1.6.4.min.js') }}"></script>
{% endblock %}

{% block body %}
  {% block header %}
    <header>
      <h1 id="logo"><a href="{{ path('quote_list', {'ordering': 'latest'}) }}">epiquote</a></h1>
      
      <div id="ordering">
        {% set orderings = {'': 0, 'latest': 1, 'top': 2, 'random': 3} %}
        {{ ui.button_multiple({"Dernières": path('quote_list', {'ordering': 'latest'}),
                               "Top":       path('quote_list', {'ordering': 'top'}),
                               "Au hasard": path('quote_list', {'ordering': 'random'})},
                                orderings[app.request.get('ordering')])
        }}
      </div>
    </header>
  {% endblock %}
    
  {% block page %}
    <div id="page">
      {% block add_search %}
        <div class="content" id="add-search">
          {{ ui.button("Nouvelle quote", path('quote_new'), ["blue", "float-left"]) }}
          
          <div class="float-right">
            {% render "EpiquoteQuotesBundle:Search:search" %}
          </div>
              
          {{ utils.clearer() }}
        </div>
      {% endblock %}
      
      {% block content %}
      
      {% endblock %}
    </div>
  {% endblock %}
    
  {% block footer %}
    <footer>
      <div id="footer_left">
        Copyright (c) Epiquote 2011
      </div>
      <div id="footer_right">
        <a href="{{ path('pages_legal') }}">Informations légales</a>
        &nbsp;|&nbsp;
        <a href="{{ path('pages_about') }}">A propos</a>
      </div>
      {{ utils.clearer() }}
    </footer>
  {% endblock %}
{% endblock %}
