{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/epiquotequotes/css/quotes.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/epiquotequotes/js/quotes.js') }}"></script>
{% endblock %}

{% block content %}
  {{ parent() }}  
    
  {% include 'EpiquoteQuotesBundle:Quote:list.html.twig' with {'quotes': quotes} %}
  
  {% if quotes | length == 10 %}
    <div class="content" id="more-quotes-button">
      {{ ui.getmore_button('Page suivante', next_page_url) }}
    </div>
  {% endif %}
{% endblock %}